RewriteEngine on

# Redirect of the site
RedirectMatch ^.*politoinginf.it/?$ http://polito-inginf.github.io/politoinginf.github.io

# Redirect of the /about.html endpoint
RedirectMatch ^.*/about.html$ http://polito-inginf.github.io/politoinginf.github.io/about.html

# Redirect of the /news.html endpoint
RedirectMatch ^.*/news.html$ http://polito-inginf.github.io/politoinginf.github.io/news.html

# Redirect of the /material.html endpoint
RedirectMatch ^.*/material.html$ http://polito-inginf.github.io/politoinginf.github.io/material.html

# Remove the .html from the URLs
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^([^.]+)$ $1.html [NC,L]

# Set the page for the 404 error
ErrorDocument 404 /404.html
